---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/dean-profile.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/mental-health.avif";
import tools from "@images/stanford.avif";
import dashboard from "@images/coding.avif";


---

<MainLayout>
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Contact Dean for Tutoring"
    url="https://www.wyzant.com/Tutors/CollegeTutorDean"
  /> -->

  <HeroSection
    title=`Dean Barrow's Personal <span
        class="text-yellow-500 dark:text-yellow-400">Website</span>`
    subTitle="Computer Science student at Stanford, passionate about building things that matter."
    primaryBtn="Projects"
    primaryBtnURL="/products"
    secondaryBtn="Learn More"
    secondaryBtnURL="/services"
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="Experience from Top Programs"
  />


  <FeaturesNavs
    title=`Here's a bit about my <span class="text-yellow-500 dark:text-yellow-400">journey</span>.`
    tabs={[
      {
        heading: "Early Beginnings & Education",
        content:
          "I was born in a small suburb of Chicago, where my love for problem-solving took root early on. This interest led me to the Illinois Mathematics and Science Academy, where I discovered my passion for technology. Now, I'm at Stanford University, building products that can help people.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Tech Passion & Skills",
        content:
          "Technology is more than just a field of study for me—it's a tool for positive change. My passion lies in using tech to address social issues and improve people's lives. I've developed skills in various programming languages and enjoy applying them to create meaningful solutions. Whether it's developing accessible web applications or exploring how AI can enhance education, I'm always looking for ways to leverage technology for the greater good.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Entrepreneurial Journey",
        content:
          "My journey as a builder began in high school when I founded a nonprofit focused on bringing educational resources to marginalized communities. This experience opened my eyes to the power of technology in creating social impact and fostered my passion for solving real-world problems. Throughout my journey, I've honed my skills by building various web applications, each one a step towards creating more impactful solutions. Currently, I'm channeling my experience and passion into developing a mental health app, aiming to make support more accessible and personalized through technology.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />



  <FAQ title="Frequently<br />asked questions" faqs={faqs} />


</MainLayout>
